<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

  <nav >
    <p>My Blog Handle</p>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="about">About us</a></li>
      <li><a href="contact">Contact us</a></li>
    </ul>

  
  </nav>

 

  <body>
  
   
